*.md filter=lfs diff=lfs merge=lfs -text
*.r filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.Rmd filter=lfs diff=lfs merge=lfs -text
/svm_Linear filter=lfs diff=lfs merge=lfs -text
/svm_Linear_Grid filter=lfs diff=lfs merge=lfs -text
/svm_Linear_Grid_imp filter=lfs diff=lfs merge=lfs -text
/svm_Radial filter=lfs diff=lfs merge=lfs -text
/svm_Radial_Grid filter=lfs diff=lfs merge=lfs -text
/svmfit_poly filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.Rproj filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
/models/svm_Linear filter=lfs diff=lfs merge=lfs -text
/models/svm_Linear_Grid filter=lfs diff=lfs merge=lfs -text
/models/svm_Linear_Grid_imp filter=lfs diff=lfs merge=lfs -text
/models/svm_Radial filter=lfs diff=lfs merge=lfs -text
/models/svm_Radial_Grid filter=lfs diff=lfs merge=lfs -text
/models/svmfit_poly filter=lfs diff=lfs merge=lfs -text
/gap_inp_early_2 filter=lfs diff=lfs merge=lfs -text
/data/gap_inp_early_2 filter=lfs diff=lfs merge=lfs -text
/models/data/gap_inp_early_2 filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
/models/python/early_imp_nn filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/models/data/gap_inp filter=lfs diff=lfs merge=lfs -text
/models/svm_Linear_2 filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
